gmon.out
perf.data
perf.data.old

/.deps
/GNUmakefile
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/conftest.*
/obj
/stamp-h
*~
*.pyc
results
last
drivers
.redis_one.conf
